{% load i18n %}
<div class='row'>
    <div class="pull-right">
        {% if page_obj.has_previous %}
            <div>
            <a href="?page={{ page_obj.previous_page_number }}{% if cat %}&amp;cat={{ cat }}{% endif %}"> {% trans "Previous" %} </a>
            </div>
        {% else %}
            <div>
            <span> {% trans "Previous" %} </span>
            </div>
        {% endif %}
            <div style="text-align:center;"> {{ page_obj.number }}/{{ page_obj.paginator.num_pages }} </div>
        {% if page_obj.has_next %}
            <div>
            <a href="?page={{ page_obj.next_page_number }}{% if cat %}&amp;cat={{ cat }}{% endif %}"> {% trans "Next" %} </a>
            </div>
        {% else %}
            <div>
            <span> {% trans "Next" %} </span>
            </div>
        {% endif %}
    </div>
</div>
