{% load i18n %}
<ul class='nav secondary-nav'>
    <li class='dropdown'>
        <a href='#' class='dropdown-toggle'> {% trans "Profile" %} </a>
        <ul class='dropdown-menu'>
            <li><a href='#'> {% trans "Hello" %}, {{ user.username }} </a></li>
            <li><a href='{% url bookmark-index %}'> {% trans "My bookmarks" %} </a></li>
            <li><a href='#'> {% trans "Settings" %} </a></li>
            <li><a href='{% url shelf-index %}'> {% trans "My books" %} </a></li>
            <li class='divider'></li>
            {% if perms.books.add_book %}
            <li><a href='{% url published-books %}'> {% trans "Publish" %} </a></li>
            <li class='divider'></li>
            {% endif %}
            <li><a href='{% url logout %}'> {% trans "Logout" %} </a></li>
        </ul>
    </li>
</ul>
