{% extends "site_base.html" %}
{% load i18n %}
{% block extra_head %}
    <style type='text/css'>
        div.book-item {
            margin-top: 30px;
        }
        div.book-description {
            padding-left: 30px;
        }
        div.book-description h5 {
            line-height: 20px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class='row'>
        <div class='span4'>
            <ul>
                {% for category in categories %}
                <li><a href="{% url books-in-category %}?cat={{ category.id }}">{{ category.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class='span8'>
            {% with books.count as number_of_books %}
                {% if is_paginated and number_of_books != 0 %} {% include "page_links.html" %} {% endif %}
                <div class="row">
                    {% for book in books %}
                    <div class='row book-item'>
                        <div class="span2">
                            <a href='{% url book-detail pk=book.id %}'>
                                <img src="{{ book.icon.url }}" style="height:150px;">
                            </a>
                        </div>
                        <div class="span6">
                            <div class="book-description"> 
                                <h5><a href='{% url book-detail pk=book.id %}'>{{ book.title }}</a></h5> 
                                <p> {{ book.description|truncatewords:50 }} <a href="{% url book-detail pk=book.id %}"> {% trans "more" %} </a></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if is_paginated and number_of_books != 0 %} {% include "page_links.html" %} {% endif %}
            {% endwith %}
        </div>
    </div>
{% endblock %}
