{% extends "site_base.html" %}
{% block extra_head %}
<style type='text/css'>
    table.form {
        width: auto;
        margin-right: auto;
        margin-left: auto;
        border: 0px;
    }
    table.form td, table.form th {
        border: 0px;
    }
    div.author-help {
        text-align: center;
    }
</style>
<script type='text/javascript' src='{{ STATIC_URL }}js/gallery.js'>
</script>
{% endblock %}

{% block body %}
    <form enctype="multipart/form-data" action='' method="POST">
        {% csrf_token %}
        <div class='form'>
            <table class='form'>
                <tr>
                    <td> </td>
                    <td><h3> Create new book </h3></td>
                </tr>
                {{ form.as_table }}
                <tr>
                    <td><div id="image-id"></div></td>
                    <td><a href='#' onclick="display_picture_form('{% url choose-image %}');">Choose picture</a></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class='author-help'>
                        If author is not listed here, you may <a href="{% url create-author %}">create</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        <input type='submit' value='Create Book'>
                    </td>
                </tr>
            </table>
        </div>
    </form>
{% endblock %}
