{% extends "site_base.html" %}
{% block extra_head %}
    <style type='text/css'>
        div.book-item {
            margin-top: 30px;
        }
        div.book-description {
            padding-left: 30px;
        }
        div.book-description h4 {
            line-height: 20px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class='row'>
        <div class='span4'>
            <ul>
                {% for category in categories %}
                <li><a href="?cat={{ category.id }}">{{ category.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class='span8'>
            <div class='row'>
                <div class="pull-right">
                    {% if page_obj.has_previous %}
                        <div>
                        <a href="?page={{ page_obj.previous_page_number }}{% if cat %}&amp;cat={{ cat }}{% endif %}"> previous </a>
                        </div>
                    {% else %}
                        <div>
                        <span> previous </span>
                        </div>
                    {% endif %}
                        <div style="text-align:center;"> {{ page_obj.number }}/{{ page_obj.paginator.num_pages }} </div>
                    {% if page_obj.has_next %}
                        <div>
                        <a href="?page={{ page_obj.next_page_number }}{% if cat %}&amp;cat={{ cat }}{% endif %}"> next </a>
                        </div>
                    {% else %}
                        <div>
                        <span> next </span>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                {% for book in books %}
                <div class='row book-item'>
                    <div class="span2">
                        <a href='{% url book-detail pk=book.id %}'>
                            <img src="{{ book.icon.url }}" style="height:150px;">
                        </a>
                    </div>
                    <div class="span6">
                        <div class="book-description"> <h4><a href='{% url book-detail pk=book.id %}'>{{ book.title }}</a></h4> </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
