{% extends "account/base.html" %}
{% load bootstrap_tags %}
{% load i18n %}
{% block extra_head %}
<style type='text/css'>
    table.form {
        width: auto;
        margin-right: auto;
        margin-left: auto;
        border: 0px;
    }
    table.form td, table.form th {
        border: 0px;
    }
    div.author-help {
        text-align: center;
    }
</style>
<script type='text/javascript' src='{{ STATIC_URL }}js/gallery.js'>
</script>
{% endblock %}

{% block body %}
    <form enctype="multipart/form-data" action='' method="POST">
        {% csrf_token %}
        <fieldset>
            {{ form|as_bootstrap }}
        </fieldset>
        <div class='actions'>
            <button type='submit' class='btn primary'>{% trans "Submit" %}</button>
        </div>
    </form>
    <div>
        <a href="{% url create-author %}"> Create author </a>
    </div>
{% endblock %}
