{% extends "site_base.html" %}
{% load i18n %}
{% load ratings %}
{% block extra_head %}
    <script type="text/javascript" src="{{ STATIC_URL }}raty/js/jquery.raty.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/rating.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/shelf-add.js"></script>
    <script type="text/javascript">
        var static_root = "{{ STATIC_URL }}", 
            start_rating = {{ book.rating.get_rating }}, 
            this_url = "{% url book-detail pk=book.id %}", 
            add_book = "{% url shelf-action %}",
            book_id = {{ book.id }};
    </script>
    <style type='text/css'>
        div.rating-bar div {
            display: inline;
        }
        div.rating-bar {
            margin-left: 10px;
            margin-top: 10px;
        }
        div.rating-notification {
            display: none;
            margin-left: 40px;
        }
        div.star {
            padding-top: 3px;
        }
        div.rating-count {
            font-size: larger;
            margin: 5px;
        }
        div.thumbnail img {
            margin: 20px;
        }
    </style>
{% endblock %}
{% block body %}
    <h4> {{ object.title }} </h4>
     {% trans "by" %}
     {% for author in book.authors.all %}
     <a href="{% url author-show pk=author.id %}" title="{{ author.first_name }} {{ author.last_name }}"> {{ author.first_name }} {{ author.last_name }} </a>
     {% endfor %}
    <div class='row'>
        <div class='span4'>
            <div class='row thumbnail'><img src='{{ book.photo.get_thumbnail4_url }}' class='span4'></div>
            <div class='row rating-holder'>
                <div class='row rating-bar'>
                    <div class='star'></div><div class='rating-count'>(<span id='rating-count'>{{ book.count_rating }}</span>)</div>
                </div>
                <div class='row rating-notification'>Thank you</div>
            </div>
            <div class='row'>
                <div id='add-to-shelf'> {% trans "Add to shelf" %} </div>
                <ul class='shelf-list' style='display:none;'>
                    {% for shelf in user.shelves.all %}
                    <li><a href="#" shelf-id={{ shelf.id }}>{{ shelf.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class='span8'> 
        {% if object.description|length > 0 %}
        {{ object.description|linebreaks }} 
        {% else %}
            No description.
        {% endif %}
        </div>
        <div class='span4'>
            <div><a href="#">{% trans "Share" %} </a></div>
            <div><a href="{% url download-page pk=object.id %}">{% trans "Download as epub" %} </a></div>
            <div><a href="{% url book-toc pk=object.id %}">{% trans "Read" %} </a></div>
            <h4> In this category: </h4>
            <ul>
                {% for book in books_in_category %}
                <li><a href="{% url book-detail pk=book.id %}">{{ book.title }}</a></li>
                {% endfor %}
            </ul>
            <div>
                <a href="{% url books-in-category %}?cat={{ category.id }}">
                more in "{{ category.title }}" </a>
            </div>
        </div>
    </div>
{% endblock %}
