{% extends "site_base.html" %}
{% load i18n %}
{% block extra_head %}
    <script type='text/javascript' src='{{ STATIC_URL }}js/publish.js'> </script>
    <script type='text/javascript'>
        publish_url = "{% url publish-book %}";
    </script>
    <style type='text/css'>
        tr.books td.publish-status {
            max-width: 100px;
        }
    </style>
{% endblock %}
{% block body %}
    <table>
        <tr>
            <th>{% trans "Books" %}:</th><th>{% trans "Publish" %}?</th>
        </tr>
    {% for book in my_books %}
        <tr class='books'>
            {% if book.status != 3 %}
            <td><a href="{% url my-books-show pk=book.id %}">{{ book.title }}</a></td>
            <td class='publish-status'><input type='checkbox' value='{{ book.id }}' {% if book.is_published %}checked="true"{% endif %}><span style="display:none;" id="notification-{{ book.id }}"></span></td>
            {% else %}
            <td><a href="{% url my-books-show pk=book.id %}">{{ book.title }}</a></td>
            <td class='warning publish-status'> You can't publish this book. It has violated <a href="#">Agreement terms</a>. Please contact administrator.</td>
            {% endif %}
        </tr>
    {% empty %}
        <tr>
            <td colspan="2">{% trans "You have no books published" %}</a>
        </tr>
    {% endfor %}
    </table>
    <a href="{% url my-books-create %}">{% trans "Create one book?" %} </a>
{% endblock %}
