{% extends "site_base.html" %}
{% load i18n %}
{% block extra_head %}
    <style type="text/css">
        ul.clean-grid li {
            display: inline;
        }
        ul.clean-grid a {
            margin: 0px;
            border: 0px;
        }
        .media-grid a img {
            margin-left: auto;
            margin-right: auto;
        }
        a {
            font-size: 12px;
        }
        a.more {
            text-decoration: underline;
        }
        ul.media-grid > li > div.span3 {
            display: inline;
        }
    </style>
{% endblock %}
{% block body %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=193797717371698";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class='row'>
        <div class='span12'>
            <h4> {% trans "New books" %} <a href="{% url latest-books %}" class="more">{% trans "more" %} ></a> </h4>
            {% with new_books as book_list %}
                {% include "books/front_books_list.html" %}
            {% endwith %}
            <h4> {% trans "Staff picks" %} <a href="{% url staff-picks %}" class="more">{% trans "more" %} ></a> </h4>
            {% with picked_books as book_list %}
                {% include "books/front_books_list.html" %}
            {% endwith %}
            <h4> {% trans "Categories" %} </h4>
            <ul class="clean-grid">
            {% for category in categories %}
                <li>
                    <div class='span3' style='display:inline;'>
                        <a href="{% url books-in-category %}?cat={{ category.id }}">{{ category.title }}</a>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class='span4'>
            <h4>Twitter:</h4>
            <div>
                <a href="https://twitter.com/nomun" class="twitter-follow-button" data-show-count="true" data-lang="en" data-size="medium">Follow @nomun</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
            <h4>Facebook:</h4>
            <div class="fb-like" data-href="http://www.nomun.mn/" data-send="true" data-width="450" data-show-faces="true"></div>
        </div>
    </div>
{% endblock %}
