{% extends "site_base.html" %}
{% load i18n %}
{% load bootstrap_tags %}
{% block extra_head %}
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/page_editor.less">
    <script type='text/javascript'>
        function preview() {
            txt = $('form textarea').val()
            $.post('{% url page-preview %}', {
                page: txt
            }, function(html) {
                $('#preview').html(html);
            });
        }
    </script>
{% endblock %}
{% block body %}
    <div class='row'>
        <div class='pull-left'>
            <a href="{% url my-books-show pk=form.instance.book.id %}">Go to TOC</a>
        </div>
        <div class='pull-right'>
            <a href="http://www.bbcode.org/reference.php" target="_blank" title="{% trans "What is BBcode?" %}">{% trans "We support BBCode" %}</a>
        </div>
    </div>
    <form action='' method='POST'>
        {% csrf_token %}
        <fieldset>
            {{ form|as_bootstrap }}
        </fieldset>
        <div class='actions span14'>
            <button type="submit" class="btn primary span4">{% trans "Save" %}</button>
            <a href='#preview' class='btn info' onclick='preview();'>{% trans "Preview" %}</a>
        </div>
        <div id='preview' class='row'>
        </div>
    </form>
{% endblock %}
