{% extends "site_base.html" %}
{% block extra_head %}
    <style type='text/css'>
        li.active a {
            color: gray;
        }
        li.create-shelf-form {
            display: none;
        }
        li.create-shelf-form input {
            display: inline;
        }
        img.icon {
            margin-left: auto;
            margin-right: auto;
        }
        img.close {
            position: absolute;
            right: 0px;
            top: 0px;
        }
        img.close:hover {
            opacity: 1;
        }
    </style>
    <script type='text/javascript' src='{{ STATIC_URL }}js/shelf.js'> </script>
    <script type='text/javascript'>
        var shelf_create_url = "{% url shelf-create %}", 
            shelf_action = "{% url shelf-action %}",
            shelf_id = {{ shelf.id }};
    </script>
{% endblock %}
{% block body %}
<div class='row'>
    <div class='span4'>
    <ul>
    {% for sshelf in user.shelves.all %}
        <li{% if sshelf == shelf %} class="active current-shelf"{% endif %}><a href="{% url shelf-detail pk=sshelf.id %}">{{ sshelf.title }}(<span class='book-count'>{{ sshelf.books_count }}</span>)</a></li>
    {% endfor %}
        <li class='create-shelf-text'><a href="#">create shelf</a></li>
        <li class='create-shelf-form'>
            <div class='row'>
                <input type='text' class='span3'><input type='button' value='create'>
            </div>
        </li>
    </ul>
    </div>
    <div class='span12'>
        <ul class='media-grid'>
        {% for book in shelf.books_published %}
            <li book-id={{ book.id }}>
                <div class='span3' style='position:relative;'>
                    <a href='{% url book-detail pk=book.id %}' style="">
                        <img src='{{ book.icon.url }}' class='icon' height='100px;'>
                        <img src='{{ STATIC_URL }}img/Remove-32.png' class='close'>
                        <div>{{ book.title|truncatewords:4 }}</div>
                    </a>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
