{% extends "site_base.html" %}
{% block extra_head %}
    <style type='text/css'>
        li.active a {
            color: gray;
        }
        li.create-shelf-form {
            display: none;
        }
        li.create-shelf-form input {
            display: inline;
        }
    </style>
    <script type='text/javascript' src='{{ STATIC_URL }}js/shelf.js'> </script>
    <script type='text/javascript'>
        shelf_create_url = "{% url shelf-create %}";
    </script>
{% endblock %}
{% block body %}
<div class='row'>
    <div class='span4'>
    <ul>
    {% for sshelf in user.shelves.all %}
        <li{% if sshelf == shelf %} class="active"{% endif %}><a href="{% url shelf-detail pk=sshelf.id %}">{{ sshelf.title }}({{ sshelf.books_count }})</a></li>
    {% endfor %}
        <li class='create-shelf-text'><a href="#">create shelf</a></li>
        <li class='create-shelf-form'>
            <div class='row'>
                <input type='text' class='span3'><input type='button' value='create'>
            </div>
        </li>
    </ul>
    </div>
    <div class='span12'>
    {% with shelf.books_published as book_list %}
        {% include "books/front_books_list.html" %}
    {% endwith %}
    </div>
</div>
{% endblock %}
