{% extends "site_base.html" %}
{% block extra_head %}
<style type='text/css'>
    table.form {
        width: auto;
        margin-right: auto;
        margin-left: auto;
        border: 0px;
    }
    table.form td, table.form th {
        border: 0px;
    }
</style>
{% endblock %}

{% block body %}
    <form enctype="multipart/form-data" action='' method="POST">
        {% csrf_token %}
        <div class='form'>
            <table class='form'>
                {{ form.as_table }}
                <tr>
                    <td> </td>
                    <td>
                        <input type='submit' value='Create'>
                    </td>
                </tr>
            </table>
        </div>
    </form>
{% endblock %}
