{% extends "site_base.html" %}
{% block extra_head %}
    <style type='text/css'>
        table {
            width: auto;
        }
        input[type=submit] {
            float: right;
        }
    </style>
{% endblock %}

{% block body %}
<div>
    <form method='POST'>
        {% csrf_token %}
        <table>
        {{ form.as_table }}
            <tr>
                <td colspan="2">
                <input type='submit' value='Save'>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
